<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Full domain:</b>
  <%= @account.full_domain %>
</p>


<%= link_to 'Edit', edit_admin_account_path(@account) %> |
<%= link_to 'Back', admin_accounts_path %>
