<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @auction.name %>
</p>

<p>
  <b>Description:</b>
  <%= @auction.description %>
</p>

<p>
  <b>Event date:</b>
  <%= @auction.event_date %>
</p>


<%= link_to 'Edit', edit_employee_auction_path(@auction) %> |
<%= link_to 'Back', employee_auctions_path %>
